/* 
  -----------------------------------------------
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, 
picture, 
video, 
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, 
button, 
textarea, 
select {
  font: inherit;
  background-color: transparent;
  border: none;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
  -----------------------------------------------
*/

:root {
  --color-one: #fad201;
  --color-two: #C79109;
  --color-three: #ffffff;
  --color-four: #000000;
  --color-five: #1e284f;
  --color-six: #4b4b4b;
  --padding-block: 5rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/montserrat-variablefont_wght.woff2") format("woff2-variations"),
       url("../assets/font/montserrat-variablefont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif, system-ui;
  font-weight: 600;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin-inline: auto;
}

.title {
  text-wrap: balance;
}

.title--primary {
  font-size: 2.3rem;
  font-weight: 800;
}

.title--section {
  font-size: 1.5rem;
  font-weight: 700;
}

.title--black {
  color: var(--color-four);
}

.title--white {
  color: var(--color-three);
}

.title--yellow {
  color: var(--color-one);
}

.title--gray {
  color: var(--color-six);
}

.resalt--to-right {
  color: transparent;
  background-image: linear-gradient(to right, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
          background-clip: text;
}

.resalt--to-bottom {
  color: transparent;
  background-image: linear-gradient(var(--color-one), var(--color-two));
  -webkit-background-clip: text;
          background-clip: text;
}

.resalt--to-right-background {
  background-image: linear-gradient(to right, var(--color-one), var(--color-two));
}

.resalt--to-bottom-background {
  background-image: linear-gradient(var(--color-one), var(--color-two));
}

.paragraph {
  font-weight: 600;
  line-height: 1.5;
  text-wrap: pretty;
}

.guide {
  font-size: .9rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.btn {
  --translate-icon: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: .5rem;
  transition: transform .5s, box-shadow .5s;

  &:hover,
  &:focus {
    --translate-icon: .5rem;

    transform: scale(1.025);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.btn svg {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateX(var(--translate-icon));
  transition: transform .5s;
}

.btn--primary {
  color: var(--color-four);
  background-image: linear-gradient(to right, var(--color-one), var(--color-two));
  border-color: var(--color-two);
}

.btn--outline {
  color: var(--color-three);
  border-color: var(--color-three);
}

.btn--white {
  color: var(--color-four);
  background-color: var(--color-three);
  border-color: var(--color-three);
}

.texts-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.center {
  max-width: 43.5rem;
  margin-inline: auto;
  align-items: center;
  text-align: center;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width >= 768px) {
  .title--primary {
    font-size: 2.5rem;
  }
  
  .title--section {
    font-size: 1.75rem;
  }
}

@media (width >= 1024px) {
  :root {
    --padding-block: 8rem;
  }

  .title--primary {
    font-size: 3rem;
  }
  
  .title--section {
    font-size: 2rem;
  }
}


/* HEADER */
.header {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  -webkit-animation: header-animation both;
          animation: header-animation both;
  animation-timeline: scroll();
  animation-range: 0 200px;
}

@-webkit-keyframes header-animation {
  to {
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px #00000099;
  }
}

@keyframes header-animation {
  to {
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px #00000099;
  }
}

.header--black {
  background-color: var(--color-four);
  -webkit-animation: none;
          animation: none;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 5.5rem;
  color: var(--color-three);
}

.header__logo {
  position: relative;
  z-index: 100;
  aspect-ratio: 721/142;
}

.header__img {
  width: 9.5rem;
  aspect-ratio: 721/142;
}

.navbar {
  --image-menu: url("../assets/icons/menu.svg");
  --translate-menu: translateY(-100%);
}

.navbar:has(.navbar__label .navbar__checkbox:checked) {
  --image-menu: url("../assets/icons/menu-close.svg");
  --translate-menu: translateY(0);
}

.navbar__menu {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: 100dvh;
  list-style: none;
  background-color: #000000cc;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: var(--translate-menu);
  transition: transform .5s;
}

.navbar__link {
  --transform-underline: scaleX(0);
  --origin-underline: right;

  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
  transition: color .5s;

  &:hover,
  &:focus {
    --transform-underline: scaleX(1);
    --origin-underline: left;

    color: var(--color-one);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.2rem;
    width: 100%;
    height: .125rem;
    background-color: var(--color-one);
    transform: var(--transform-underline);
    transform-origin: var(--origin-underline);
    transition: transform .5s;
  }
}

.navbar__label {
  position: relative;
  z-index: 100;
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: var(--image-menu);
  cursor: pointer;
  transition: transform .5s, background-image .25s;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.navbar__checkbox {
  display: none;
}

.header__btn--header {
  display: none;
}

@media (width >= 768px) {
  .header__img {
    width: 10rem;
  }

  .navbar {
    order: 1;
  }

  .header__btn--navbar {
    display: none;
  }

  .header__btn--header {
    display: flex;
    margin-left: auto;
  }
}

@media (width >= 1024px) {
  .header__content {
    gap: 2.5rem;
  }

  .header__img {
    width: 11rem;
  }

  .navbar {
    --image-menu: url("../assets/icons/menu.svg");
    --translate-menu: translateY(0);

    order: 0;
  }

  .navbar__menu {
    position: static;
    flex-direction: row;
    height: 100%;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .navbar__link {
    font-size: 1rem;
  }

  .navbar__label {
    display: none;
  }

  .header__btn--header {
    margin-left: 0;
  }
}


/* SECTION PROMO */
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 1.5rem;
  max-width: 62.5rem;
  padding: 4rem 2rem;
  color: var(--color-three);
  border-radius: 1.5rem;
}

.promo__group-call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-three);
}

.promo__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--color-three);
  border-radius: 50%;
}

.promo__icon svg {
  width: 2rem;
  height: 2rem;
}

.promo__number {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-size: .9rem;
  font-weight: 600;
}

.promo__number .number {
  font-size: 1.25rem;
  font-weight: 800;
}

.promo__paragraph {
  color: inherit;
  text-align: center;
}

@media (width >= 768px) {
  .promo__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }

  .promo__group-call {
    padding-bottom: 0;
    border-bottom: none;
  }

  .promo__paragraph {
    padding-inline: 1rem;
    flex-basis: 18.75rem;
    flex-grow: 1;
    font-size: .9rem;
    border-left: 2px solid var(--color-three);
  }

  .promo__btn {
    margin-inline: auto;
  }
}

@media (width >= 986px) {
  .promo__content {
    gap: 2rem;
  }

  .promo__paragraph {
    padding-inline: 2rem;
    text-align: left;
  }
}

@media (width >= 1024px) {
  .promo {
    position: relative;
    z-index: 10;
    margin-top: -4.7rem;
    background-image: none;
  }
}


/* SECTION CONTACT */
.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-block: 1.5rem var(--padding-block);
}

.contact__texts {
  width: 100%;
  color: var(--color-three);
}

.contact__title--two {
  display: none;
}

.contact__way {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1rem;
  list-style: none;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.contact__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contact__icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.contact__name {
  margin-bottom: .5rem;
  font-size: 1.1rem;
}

.contact__data {
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
}

.form__group .form__input {
  flex-basis: 15rem;
  flex-grow: 1;
}

.form__input {
  width: 100%;
  padding: 1.5rem;
  font-weight: 500;
  color: var(--color-three);
  background-color: #c6c6c61f;
  border-radius: .5rem;

  &::-webkit-input-placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }

  &::-moz-placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }

  &:-ms-input-placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }

  &::-ms-input-placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }

  &::placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }
}

.form__input--textarea {
  height: 12.5rem;
  resize: none;
}

.form__btn {
  flex-grow: 1;
  font-size: 1.1rem;
  color: var(--color-three);
  cursor: pointer;
}

@media (width >=1024px) {
  .contact__content {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 4rem;
  }

  .contact__title--one {
    display: none;
  }

  .contact__title--two {
    display: block;
  }

  .contact__way {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .form__btn {
    width: 50%;
    padding: 1.25rem;
  }
}


/* FOOTER */
.footer {
  background-image: linear-gradient(to right, #000000b3, #000000b3), 
                    -webkit-image-set(
                      url("../assets/img/background-footer.avif") type("image/avif"),
                      url("../assets/img/background-footer.webp")
                    );
  background-image: linear-gradient(to right, #000000b3, #000000b3), 
                    image-set(
                      url("../assets/img/background-footer.avif") type("image/avif"),
                      url("../assets/img/background-footer.webp")
                    );
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-block: 5rem;
  font-weight: 500;
  color: var(--color-three);
}

.footer__group {
  display: grid;
  gap: 3rem;
}

.footer__img {
  width: 11rem;
  margin-bottom: 1.5rem;
  aspect-ratio: 721/142;
}

.footer__paragraph {
  font-weight: inherit;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title {
  position: relative;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 2.5rem;
    height: 3px;
    background-color: var(--color-one);
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.footer__link {
  --transform-underline: scaleX(0);
  --origin-underline: right;

  position: relative;
  font-weight: inherit;
  transition: color .5s;

  &:hover,
  &:focus {
    --transform-underline: scaleX(1);
    --origin-underline: left;

    color: var(--color-one);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.2rem;
    width: 100%;
    height: .125rem;
    background-color: var(--color-one);
    transform: var(--transform-underline);
    transform-origin: var(--origin-underline);
    transition: transform .5s;
  }
}

.footer__item--contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__item--contact svg {
  width: 1.15rem;
  height: 1.15rem;
  color: var(--color-one);
}

.footer__address {
  font-weight: inherit;
  font-style: normal;
}

.footer__development {
  width: 95%;
  padding-top: 2.5rem;
  font-weight: inherit;
  text-align: center;
  border-top: 1px solid var(--color-three);
}

.footer__development .next {
  font-weight: 700;
}

@media (width >= 768px) {
  .footer__group {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (width >= 1024px) {
  .footer__group {
    grid-template-columns: 1fr .5fr .5fr 1fr;
  }
}