/* SECTION HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #00000099 30%, #00000000), 
                    image-set(
                      url("../assets/img/background-one.avif") type("image/avif"),
                      url("../assets/img/background-one.webp")
                    );
  background-position: right;
}

.hero__content {
  padding-block: 10rem;
}

.hero__texts {
  max-width: 37.5rem;
  margin-inline: 0;
  color: var(--color-three);
}

.hero__subtitle {
  font-weight: 600;
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (width >= 1440px) {
  .hero {
    min-height: auto;
  }
}


/* SECTION PROCESSES */
.processes {
  background-image: linear-gradient(to right, #000000b3, #000000b3), 
                    image-set(
                      url("../assets/img/background-two.avif") type("image/avif"),
                      url("../assets/img/background-two.webp")
                    );
}

.processes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-block: var(--padding-block);
}

.processes__group {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  gap: 4rem;
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 18rem;
  text-align: center;
}

.process__background {
  position: relative;
  width: 12rem;
  height: 12rem;
  padding: .4rem;
  border-radius: 50%;
}

.process__number {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 3rem;
  height: 3rem;
  padding: .3rem;
  font-size: 1.15rem;
  font-weight: 800;
  color: var(--color-three);
  border-radius: 50%;
}

.process__number--background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-three);
  border-radius: inherit;
}

.process__picture {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.process__picture img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.process__title {
  margin-top: 1rem;
  font-weight: 800;
}

.process__paragraph {
  color: var(--color-three);
}

.process__separator {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.process__separator--vertical {
  top: 50%;
  right: 0;
  height: 80%;
  transform: translateY(-50%);
}

.process__separator--horizontal {
  display: none;
}

@media (width >= 623px) {
  .processes__group {
    justify-items: center;
  }

  .process__separator {
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%) translateY(0);
  }
}

@media (width >= 768px) {
  .processes__group {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  }
}

@media (width >= 1200px) {
  .processes__group {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(15rem - 4rem)), 1fr));
    justify-content: center;
    max-width: 100%;
  }

  .process__title {
    display: flex;
    align-items: center;
    min-height: 46px;
    margin-top: 3rem;
  }

  .process__separator--vertical {
    display: none;
  }

  .process__separator--horizontal {
    left: 50%;
    top: 0;
    width: 80%;
    display: block;
    transform: translateX(-50%);
  }
}


/* SECTION ABOUT */
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: var(--padding-block);
  background-image: image-set(
                      url("../assets/img/background-three.avif") type("image/avif"),
                      url("../assets/img/background-three.webp")
                    );
  background-size: contain;
}

.about__background img {
  object-fit: contain;
}

.about__figure {
  max-width: 37.5rem;
  aspect-ratio: 225/193;
}

.about__figure img {
  width: 100%;
  aspect-ratio: 225/193;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.about__item svg {
  flex-shrink: 0;
}

.about__btn {
  margin-top: 1rem;
}

@media (width >= 1024px) {
  .about__content {
    flex-direction: row;
    gap: 4rem;
  }

  .about__figure,
  .about__texts {
    width: 50%;
  }
}


/* SECTION PRODUCTS */
.products {
  background-image: linear-gradient(to right, #000000b3, #000000b3), 
                    image-set(
                      url("../assets/img/background-four.avif") type("image/avif"),
                      url("../assets/img/background-four.webp")
                    );
}

.products__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: var(--padding-block);
}

.products__paragraph {
  color: var(--color-three);
}

.products__group {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18.75rem), 1fr));
  gap: 3rem;
}

.product {
  position: relative;
  width: 100%;
  max-width: 18.75rem;
  background-color: var(--color-three);
  border-radius: 1rem;
  box-shadow: 0 4px 4px #00000040;
  overflow: hidden;
}

.product__picture {
  aspect-ratio: 1 / 1;
}

.product__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.product__texts {
  position: relative;
  z-index: 10;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

.product__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  font-weight: 700;
  color: var(--color-three);
  text-align: center;
  border-radius: 1rem;
}

.product__cta {
  display: block;
  padding: 1rem 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-five);
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid var(--color-five);
  border-radius: 1rem;
  transition: transform .5s, box-shadow .5s;

  &:hover,
  &:focus {
    transform: scale(1.025);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.product__name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  color: var(--color-three);
  line-height: 1;
  border-radius: 1.25rem;
}


/* SECTION VIDEO */
.video {
  position: relative;
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(to right, #88888854, #88888854), 
                    image-set(
                      url("../assets/img/poster-video.avif") type("image/avif"),
                      url("../assets/img/poster-video.webp")
                    );
}

.video__btn {
  --border-btn: 2px solid var(--color-two); 
  --scale-btn: 1;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    --border-btn:  2px solid transparent; 
    --scale-btn: 1.25;
  }
}

.video__btn-border {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border: var(--border-btn);
  border-radius: 50%;
  transition: border .5s;
}

.video__btn-border .video__btn-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  transform: scale(var(--scale-btn));
  transition: transform .5s;
}

.video__btn-border .video__btn-background svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-three);
  transition: color .5s;
}

@media (width >= 768px) {
  .video {
    height: 30rem;
  }
}


/* SECTION PROMO */
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 1.5rem;
  max-width: 1000px;
  padding: 4rem 2rem;
  color: var(--color-three);
  border-radius: 1.5rem;
}

.promo__group-call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-three);
}

.promo__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--color-three);
  border-radius: 50%;
}

.promo__icon svg {
  width: 2rem;
  height: 2rem;
}

.promo__number {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-size: .9rem;
  font-weight: 600;
}

.promo__number .number {
  font-size: 1.25rem;
  font-weight: 800;
}

.promo__paragraph {
  color: inherit;
  text-align: center;
}

@media (width >= 768px) {
  .promo__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }

  .promo__group-call {
    padding-bottom: 0;
    border-bottom: none;
  }

  .promo__paragraph {
    padding-inline: 1rem;
    flex-basis: 300px;
    flex-grow: 1;
    font-size: .9rem;
    border-left: 2px solid var(--color-three);
  }

  .promo__btn {
    margin-inline: auto;
  }
}

@media (width >= 986px) {
  .promo__content {
    gap: 2rem;
  }

  .promo__paragraph {
    padding-inline: 2rem;
    text-align: left;
  }
}

@media (width >= 1024px) {
  .promo {
    position: relative;
    z-index: 10;
    margin-top: -4.7rem;
    background-image: none;
  }
}


/* CONTAINER SECTIONS */
.container-sections {
  background-image: linear-gradient(to right, #000000b3, #000000b3), 
                    image-set(
                      url("../assets/img/background-five.avif") type("image/avif"),
                      url("../assets/img/background-five.webp")
                    );
}

@media (width >= 1024px) {
  .container-sections {
    margin-top: -4.7rem;
  }
}


/* SECTION TESTIMONIES */
.testimonies__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: var(--padding-block);
}

.testimonies__group {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 22.5rem), 1fr));
  gap: 3rem;
}

.testimony {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 22.5rem;
  margin-inline: auto;
  padding: 2rem;
  background-color: var(--color-three);
  border-bottom: 5px solid var(--color-two);
  border-radius: 1.5rem;
  box-shadow: 0px 0px 25px 0px #00000026;
}

.testimony__user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimony__perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: .3rem;
  border-radius: 50%;
}

.testimony__perfil img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.testimony__texts {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.testimony__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.testimony__info {
  font-size: .9rem;
  font-weight: 500;
  color: #9f9f9f;
}

.testimony__audio {
  width: 100%;
}

@media (width >= 1024px) {
  .testimonies__content {
    padding-block: calc(var(--padding-block) + 4.7rem) var(--padding-block);
  }
}


/* SECTION INFO */
.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 1000px;
  padding-block: var(--padding-block);
}

.info__group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  gap: 2rem;
  width: 100%;
  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--color-three);
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px #00000040;
}

.info__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  color: var(--color-three);
  border-radius: 50%;
}

.info__icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.info__contact {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.info__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.info__text {
  font-size: .95rem;
  color: #8790a7;
}

.info__figure {
  max-width: 50rem;
  aspect-ratio: 869/344;
}

.info__figure img {
  width: 100%;
  aspect-ratio: 869/344;
}


/* SECTION FAQS */
.faqs__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  padding-block: var(--padding-block);
}

.faqs__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem 2rem;
  min-height: 45rem;
}

.faqs__container {
  flex-basis: 25rem;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq {
  --background: linear-gradient(to right, var(--color-three), var(--color-three));
  --color: #2f2f2f;
  --icon: url("../assets/icons/plus-lg.svg");
  --scale-icon: 1;
  --background-icon: transparent;

  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-image: var(--background);
  transition: bacground-image .5s;

  &:hover,
  &:focus {
    --color: var(--color-four);
    --scale-icon: 1.2;
    --background-icon: var(--color-one);
  }

  &[open] {
    --background: linear-gradient(to right, var(--color-one), var(--color-two));
    --color: var(--color-four);
    --icon: url("../assets/icons/dash-lg.svg");
    --scale-icon: 1.2;
    --background-icon: transparent;
  }
}

.faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2ch;
  min-height: 5.375rem;
  padding: 1.5rem;
  color: var(--color);
  cursor: pointer;
  transition: color .5s;

  &::after {
    content: var(--icon);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--background-icon);
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: scale(var(--scale-icon));
    transition: background-color .5s, transform .5s;
  }
}

.faq__paragraph {
  margin-inline: 1.5rem;
  padding-block: 1.5rem;
  font-weight: 500;
  border-top: 2px solid var(--color-four);
}

@media (width >= 1010px) {
  .faqs__group {
    min-height: 21.8rem;
  }
}

/* SECTION CONTACT */
.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-block: 1.5rem var(--padding-block);
}

.contact__texts {
  width: 100%;
  color: var(--color-three);
}

.contact__title--two {
  display: none;
}

.contact__way {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1rem;
  list-style: none;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.contact__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contact__icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.contact__name {
  margin-bottom: .5rem;
  font-size: 1.1rem;
}

.contact__data {
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
}

.form__group .form__input {
  flex-basis: 15rem;
  flex-grow: 1;
}

.form__input {
  width: 100%;
  padding: 1.5rem;
  font-weight: 500;
  color: var(--color-three);
  background-color: #c6c6c61f;
  border: none;
  border-radius: .5rem;

  &::placeholder {
    font-weight: 500;
    color: #c6c6c6;
  }
}

.form__input--textarea {
  height: 12.5rem;
  resize: none;
}

.form__btn {
  flex-grow: 1;
  font-size: 1.1rem;
  color: var(--color-three);
  cursor: pointer;
}

@media (width >=1024px) {
  .contact__content {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 4rem;
  }

  .contact__title--one {
    display: none;
  }

  .contact__title--two {
    display: block;
  }

  .contact__way {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .form__btn {
    width: 50%;
  }
}